  <div class="game-container">
    <div class="row">
      <div class="col-xs-12 col-md-6 inner-content-centered">
          <div class="board-container"
            [style.height.px]="getBoardHeight()"
            [style.width.px]="getBoardHeight()">
            <div class="board-blocks-container">
              <div *ngFor="let block of blocks"
                [style.height.px]="block.height"
                [style.width.px]="block.width"
                [style.top.px]="block.top"
                [style.left.px]="block.left"
                class="block-container">

              </div>
              <div class="board-pieces-container"
                [dragula]="dragula">

              </div>
           
            </div>
          </div>
      </div>

      <div class="col-xs-12 col-md-6 inner-content-centered">
          <div class="pieces-container"
          [style.height.px]="getPiecesContainerHeight()"
          >
            <div *ngFor="let piece of pieces; let i = index" class="piece-outer-container">
              <div class="rotate-btns-container">
                  <input class="rotate-btn" type="image" src="../assets/icons/rotate_left.svg"/>
                  <input class="rotate-btn" type="image" src="../assets/icons/rotate_right.svg"/>
              </div>
              <div class="piece-container"
                [dragula]="dragula"
                [style.height.px]="piece.getHeight()"
                [style.width.px]="piece.getWidth()">
                <div class="piece"
                [style.height.px]="piece.getHeight()"
                [style.width.px]="piece.getWidth()"
                [id]="i">
                  <ng-container *ngFor="let edge of piece.edges" >
                    <div [style.height.px]="edge.getHeight()"
                      [style.width.px]="edge.getWidth()"
                      [style.left.px]="edge.left"
                      [style.top.px]="edge.top"
                      class="piece-part">
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
  

