.pieces-container {
    display: flex;

    .piece {
        background: transparent;
        position: relative;
        margin: 10px;
    
        .piece-part {
            background: red;
            position: absolute;
        }
    }
}